h1,
h3 {
    text-align: center;
}

p {
    font-size: 18px;
    padding: 10px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}



.aClass {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.logo {
    display: flex;
    justify-content: center;
    height: 100px;
    gap: 20px;
}

.headerbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}





.newsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    list-style-type: none;
}

.articlePreview {
    border: 0px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.articlePreview:hover {
    border: 0px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    
}
.articlePreview:active {
    border: 0px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.publishedOnBy {
    font-size: 12px;
    color: gray;
}






  button:active {
    filter: brightness(0.8);
  }
  dialog {
    z-index: 1;
    margin: 10% auto;
    width: 80%;
    max-width: 350px;
    background-color: #fff;
    padding: 34px;
    border: 1px solid blue;
    border-radius: 5px;
  }
  dialog > p {
    text-align: center;
    margin: 0;
  }
  dialog > p:first-of-type {
    margin: 0 auto 20px;
    font-size: 32px;
    font-weight: 600;
  }
  dialog > button {
    margin: 20px auto;
  }