h1,
h3 {
  text-align: center;
}

p {
  font-size: 18px;
  padding: 0;
}


.headerbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.newsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style-type: none;
  justify-items: center;
  padding: 0px;
}

.articlePreview {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.articlePreview:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.articlePreview:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.publishedOnBy {
  font-size: 12px;
  color: gray;
}

.clickable {
  cursor: pointer;
}


dialog {
  z-index: 1;
  margin: auto;
  max-width: 80%;
  max-height: 90%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

dialog>p {
  text-align: center;
}